@import "tailwindcss";

/* @font-face {
  font-family: "Inknut Antiqua";
  src: url("./fonts/inknut.ttf") format("truetype");
} */

@theme {
  --font-inknut: "Inknut Antiqua", serif;
  --font-header: 34px;
}

.swiper-pagination {
  bottom: 5% !important;
}

.swiper-pagination-bullet-active {
  background: yellow !important;
}
